<div [ngClass]="{'item-unactive': !item.isActive}" class="item-active" (click)="onItemActive()" *ngIf="isLoggedIn">
  <span *ngIf="item.isActive; else inactive">Mitteaktiivseks</span>
  <ng-template #inactive>Aktiivseks</ng-template>
</div>

<img routerLink="view/{{i}}" src="{{ item.imgSrc }}">
  <div class="add-to-cart-button-wrapper">
    <div class="add-to-cart-button">
      <span (click)="onRemoveFromCart(item)">-</span>
      <span>______</span>
      <span (click)="onAddToCart(item)">+</span>
    </div>
  </div>
<div class="item-title">{{ item.title | translate | shortenTitle:2 }}</div>
<div class="item-price">{{ item.price | thousandSeparator }} €</div>