<button class="main-button back" routerLink="/admin">{{'Tagasi' | translate}}</button>

<form (ngSubmit)="onSubmit(addItemForm)" #addItemForm="ngForm">
  <label>Nimetus</label><br>
  <input type="text" placeholder="Toote nimetus" ngModel name="title" required><br>
  <label>Pilt</label><br>
  <input type="text" placeholder="Toote pilt" ngModel name="imgSrc" required><br>
  <label>Hind</label><br>
  <input type="number" placeholder="Toote hind" ngModel name="price" required><br>
  <label>Kategooria</label><br>
  <!-- <input type="text" placeholder="Toote kategooria" ngModel name="category" required><br> -->
  <select ngModel name="category">
    <option disabled value="">Vali kategooria</option>
    <option *ngFor="let category of categories" [value]="category.categoryName">  
        {{category.categoryName}}
    </option> 
  </select>
  <br><br>

  <label>Kirjeldus</label><br>
  <textarea autosize type="text" placeholder="Toote kirjeldus" ngModel name="description"></textarea><br>
  <label>Ribakood</label><br>
  <input type="text" placeholder="Toote ribakood" ngModel name="barcode" required minlength="8" maxlength="8"><br>
  <label>Tootja</label><br>
  <input type="text" placeholder="Toote tootja" ngModel name="producer"><br>

  <button class="main-button add" [disabled]="addItemForm.invalid" type="submit">SISESTA</button>
</form>


<!-- 
  <select ngModel name="category">
    <option value="">ÜKS</option> 
    <option>KASKS</option> 
    <option>KOLM</option> 
    <option>NELI</option> 
  </select>
 -->