<button class="main-button back" routerLink="/admin">{{'Tagasi' | translate}}</button>

<div class="items-wrapper">
  <div class="item" *ngFor="let item of items; let i = index">
    <div class="item-title">{{ item.title }}</div>
    <div class="item-price">{{ item.price | thousandSeparator }} €</div>
    <button class="main-button change" [routerLink]="['/admin/edit-item', i]">Muuda toodet</button>
    <button class="main-button delete" (click)="onDeleteItem(i)">Kustuta toode</button>
  </div>
</div>