<button class="main-button back" (click)="onBack()">{{'Tagasi' | translate}}</button>

<form *ngIf="editItemForm" (ngSubmit)="onSubmit(editItemForm)" [formGroup]="editItemForm">
  <label>Nimetus</label><br>
  <input type="text" placeholder="Toote nimetus" formControlName="title" required><br>
  <label>Pilt</label><br>
  <input type="text" placeholder="Toote pilt" formControlName="imgSrc" required><br>
  <label>Hind</label><br>
  <input type="number" placeholder="Toote hind" formControlName="price" required><br>
  
  <select formControlName="category">
    <option disabled value="">Vali kategooria</option>
    <option *ngFor="let category of categories" [value]="category.categoryName">  
        {{category.categoryName}}
    </option> 
  </select>



  <label>Aktiivne</label>
  <input type="checkbox" formControlName="isActive"><br>
  <button class="main-button add" [disabled]="editItemForm.invalid" type="submit">SISESTA</button>
</form>