<div *ngIf="itemsInCart.length > 0">

  <div class="empty-cart-button" (click)="onEmptyCart()">Tühjenda ostukorv</div>
  <div class="items-wrapper">
    <div class="item" *ngFor="let item of itemsInCart; let i = index">
      <img src="{{ item.imgSrc }}">
      <div class="item-title">{{ item.title }}</div>
      <div class="item-price">{{ item.price }} €</div>
      <img class="delete-from-cart-button" (click)="onDeleteFromCart(i)" src="assets/bin.svg" alt="">
    </div>
  </div>
  <div class="sum-of-cart">Ostukorvi kogusumma: {{ sumOfCart.toFixed(2) }} €</div>
</div>

<div class="cart-empty" *ngIf="itemsInCart.length === 0">
  <img src="assets/empty-cart.svg">
  <div>Ostukorv on tühi</div>
</div>