<div class="navbar">
  <img routerLink="/" src="assets\webshio.png">
  <div class="cart-button" routerLink="cart">
    <img src="assets\shopping-cart.svg">
    <span>0.00 €</span>
  </div>
</div>
<router-outlet></router-outlet>
<!-- <h1>Suur heading</h1>
<h2>Natuke väiksem heading</h2>
<h3>Heading suurusega 3</h3>
<h4>Veel väiksem heading</h4>
<p>See on paragraph</p>
<button>NUPP</button>
<a href="http://www.google.com" target="blank">MINE GOOGLE-sse</a> -->
<div class="footer"></div>

<!-- tumesinisega on Tag -->
<!-- helesinisega on HTML atribuut -->
<!-- valgega on tekst (kasutajatele näidatav) -->
<!-- oranž on muutuja/väärtus/funktsioon/klass -->