/* You can add global styles to this file, and also import other style files */

/* Võetud google fontsidest, select-this-style, @import, style tagi seest */
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

/* Aplikeerub kõigele */
* {
  font-family: 'Oxygen', sans-serif;
  outline: none;
}

/* Margin 8px oli Angularis automaatselt enne lisatud, kirjutasime üle */
body {
  margin: 0;
}

.main-button {
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: #007cc3;
  color: white;
  font-size: 20px;
}

.back {
  height: 50px;
  width: 150px;
  top: -100px;
  margin: 30px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.item:hover .add-to-cart-button {
  visibility: visible;   
 }