<div class="filter-bar">
   <div class="filter-name">{{'järjesta:' | titlecase | translate  }}</div>
   <div class="filter-value title" (click)="onSortTitle()">{{'Tähestiku järgi' | translate}}</div>
   <div class="filter-value price" (click)="onSortPrice()">Hinna järgi</div>
 </div>

<div class="items-wrapper">
  <div class="item" *ngFor="let item of itemsShown">
    <img src="{{ item.imgSrc }}">
    <div class="add-to-cart-button-wrapper">
      <div (click)="onAddToCart(item)" class="add-to-cart-button">Lisa ostukorvi</div>
    </div>
    <div class="item-title">{{ item.title }}</div>
    <div class="item-price">{{ item.price }} €</div>
  </div>
</div>