.filter-bar {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  height: 40px;
  margin: 10px;
  padding-left: 10px;
}

.filter-value {
  margin-left: 10px;
  cursor: pointer;
}

.items-wrapper {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}

.item {
  width: 100%;
  height: 270px;
  border: 1px solid gray;
  padding-bottom: 20px;
}

.category-active {
  font-weight: 600;
}