<div class="sidebar">
  <span [ngClass]="{'category-active': category == categoryShown}" (click)="onCategorySelect(category)" *ngFor="let category of itemsOriginal | uniqueCategory">
    {{ category }} <br>
  </span>
</div>

<div class="filter-bar">
   <div class="filter-name">{{'Järjesta:' | translate  }}</div>
   <div class="filter-value title" (click)="onSortTitle()">{{'Tähestiku järgi' | translate}}</div>
   <div class="filter-value price" (click)="onSortPrice()">Hinna järgi</div>
 </div>

<div class="items-wrapper">
  <app-item-card class="item" *ngFor="let itemShown of itemsShown; let i = index" [item]="itemShown" [i]="i"></app-item-card>
  <!-- <div class="item" *ngFor="let item of itemsShown; let i = index">
    <img routerLink="view/{{i}}" src="{{ item.imgSrc }}">
    <div class="add-to-cart-button-wrapper">
      <div class="add-to-cart-button">
        <span (click)="onRemoveFromCart(item)">-</span>
        <span>______</span>
        <span (click)="onAddToCart(item)">+</span>
      </div>
    </div>
    <div class="item-title">{{ item.title | translate | shortenTitle:2 }}</div>
    <div class="item-price">{{ item.price | thousandSeparator }} €</div>
  </div> -->
</div>