<app-carousel></app-carousel>

<!-- <ng-adsense
  [adClient]="'ca-pub-4611413650603919'"
  [adSlot]="673944784986"
  [display]="'inline-block'"
  [width]="320"
  [height]="108"
></ng-adsense> -->



<div class="sidebar">
  <div [ngClass]="{'category-active': categoryShown=='all'}" (click)="onCategorySelect('all')">Kõik kategooriad</div>
  <span 
    [ngClass]="{'category-active': category == categoryShown}" 
    (click)="onCategorySelect(category)" 
    *ngFor="let category of itemsOriginal | showActiveItems:isLoggedIn | uniqueCategory">
    {{ category }} <br>
  </span>
</div>

<div class="filter-bar">
   <div class="filter-name">{{'Järjesta:' | translate  }}</div>
   <div class="filter-value title" (click)="onSortTitle()">{{'Tähestiku järgi' | translate}}</div>
   <div class="filter-value price" (click)="onSortPrice()">Hinna järgi</div>
 </div>

<div class="items-wrapper">
  <app-item-card 
    class="item" 
    *ngFor="let itemShown of itemsShown; let i = index" 
    [item]="itemShown" 
    [i]="i"
    (itemActiveChange)="itemActiveChanged($event)"></app-item-card>
</div>